html {
  body {
    .blogPage {
      nav {
        padding-right: 31px;
      }
      iframe {
        position: absolute;
        z-index: 1;
        top: 0px;
        left: 0px;
      }
    }
  }
}
