html {
  body {
    .index {
      background: $red-ouff;
      .jumbotron-custom {
        background: $red-ouff;
        height: 750px;
        @media #{$small-and-down} {
          height: 550px;
        }
        .hero-bottom {
          .hero-wrapper {
            z-index: 2;
            .text-wrapper {
              h1,
              h5 {
                color: $white;
                span {
                  font-family: $semibold;
                }
              }
            }
            a {
              @include button-link(
                $red-ouff,
                5px,
                $red-ouff,
                $white,
                35px,
                15px,
                $white,
                $red-ouff
              );
            }
          }
        }
      }
      .apps {
        .button {
          a {
            @include button-link(
              $dark-gray-graphic,
              5px,
              $white,
              $dark-gray-graphic,
              35px,
              10px,
              $dark-gray-graphic,
              $white
            );
            &:hover {
              -webkit-transform: scale(1.02);
              transform: scale(1.02);
            }
          }
        }
      }
      .appRow {
        margin-bottom: 120px;
        @media #{$small-and-down} {
          margin-bottom: 55px;
        }
      }
      .disc-golf-section {
        .container-custom {
          width: 80%;
          margin: 0 auto;
        }
        padding-top: 4.5rem;
        text-align: center;
        color: $white;
        height: auto;
        background-color: $extradark-blue;
        .disc-golf-cta {
          text-align: left;
          margin-top: 25%;
          max-width: 85%;
          h5 {
            line-height: 1.8rem;
            margin: 20px 0;
          }
          a {
            width: 180px;
            text-align: center;
            @include button-link(
              $white,
              5px,
              $dark-gray-graphic,
              $white,
              35px,
              10px,
              $white,
              $dark-gray-graphic
            );
            @media #{$medium-and-down} {
              margin: 0 auto 3rem auto;
            }
            &:hover {
              -webkit-transform: scale(1.02);
              transform: scale(1.02);
              -webkit-box-shadow: 0 2px 5px 0 $dark-gray-graphic,
                0 2px 10px 0 $dark-gray-graphic;
              box-shadow: 0 2px 5px 0 $dark-gray-graphic,
                0 2px 10px 0 $dark-gray-graphic;
            }
          }
          @media #{$large-only} {
            margin-top: 20%;
            max-width: 95%;
            padding-bottom: 3.5rem;
          }
          @media #{$medium-and-down} {
            text-align: center;
            max-width: 100%;
            margin: 0;
          }
        }
        img {
          width: 80%;
          @media #{$large-only} {
            position: absolute;
            bottom: 0;
            left: 10%;
          }
          @media #{$small-and-down} {
            width: 97%;
          }
        }
      }
    }
  }
}
