html {
  body {
    .notFoundPage {
      background-color: $blue-404;
      nav .navigation ul li a {
        color: black;
      }
      nav .hamburger span {
        background: black;
      }
      .jumbotron-custom {
        height: 850px;
        // color: black;
        background-color: $blue-404;
        @media #{$medium-and-down} {
          height: 80vh;
        }
        @media #{$small-and-down} {
          height: 750px;
        }
        h5,
        h1 {
          color: $white;
        }
        .hero-bottom {
          background-color: $blue-404;
          // color: black;
          .hero-wrapper {
            top: 100px;
            z-index: 2;
            .button {
              padding: {
                top: 5px;
                bottom: 5px;
              }
            }
          }
          .cta {
            width: 100%;
            height: 100%;
            .moon {
              width: 100%;
              height: 100%;
              background: url('../../images/moonandback.png') no-repeat bottom;
              background-size: 46%;
              position: absolute;
              bottom: 0;
              @media #{$xlarge-and-down} {
                background-size: 60%;
              }
              @media #{$large-and-down} {
                width: 100%;
                background-size: 70%;
              }
              @media #{$medium-and-down} {
                background-size: 95%;
              }
              @media #{$small-and-down} {
                background-size: 140%;
              }
            }
            .stars {
              width: 100%;
              height: 100%;
              background: url('../../images/stars.png') no-repeat bottom;
              background-size: 65%;
              position: absolute;
              bottom: 0;
              @media #{$xlarge-and-down} {
                background-size: 80%;
              }
              @media #{$large-and-down} {
                width: 100%;
                background-size: 90%;
              }
              @media #{$medium-and-down} {
                background-size: 95%;
              }
              @media #{$small-and-down} {
                background-size: 140%;
              }
            }
          }
        }
      }
    }
  }
}
